*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background: linear-gradient(rgb(0, 140, 255),rgb(0, 217, 255));
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
}
.first{
    width: 510px;
}

.rad-btn{
    padding: 10px;
}

.NTB input{
    text-align: center;
    
}
.mybtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clc-btn{
    margin-top: 10px;
    background:#169685;
    width: 150px;
    height: 34px;
    border-radius: 10px;
    color: #fff;
    border: none; 
}





/* responsive */
@media (max-width :368px){
    .NTB input{
        display: block;
        margin: auto;
        margin-top: 10px;
        width: 240px;
        height: 28px;
    }
}